{% extends 'flatpages/default.html' %}
{% block content %}
<p></p>
<p>{{ post.title }}</p>
<p>{{ post.category }}</p>
<p></p>
<p>{{ post.content | safe }}</p>
<hr>
<p></p>

<a href="{% url 'post_create' post.id %}"><u>Редактировать</u></a><br>
<a href="{% url 'post_delete' post.id %}"><u> Удалить </u></a>

<br>
<br>
<hr>
<b>Комментарии</b> <br>
<hr>
{% for item in post.comments_post.all %}

Автор:   <b>{{ item.author }}</b> <br>
            {{ item.text }} <br>
<hr>


<br>
<br>

{% endfor %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Добавить комментарий">
</form>
{% endblock content %}

